*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: arial, sans-serif;
}

/*CONFIG*/


.m5px{
    margin-top: 5px;
}

.m10px{
    margin-top: 10px;
}

.m30px{
    margin-top: 30px;
}

.m-side5{
    margin-left: 5px;
    margin-right: 5px
}

.m-side30{
    margin-left: 15px;
    margin-right: 15px
}

.m25px{
    margin-top: 25px;
}

.around{
    display: flex;
    justify-content: space-around;
}

.flx-cntr{
    display: flex;
    justify-content:space-between;
}

.ta-center{
    text-align: center;
}

.ta-right{
    text-align: right;
}

.p30{
    padding: 30px;
}

.p140{
    padding: 140px;
}

.p100{
    padding: 100px;
}

.p-lay2{
    padding: 70px 80px 120px 80px;
}

.p-special{
    padding: 25px 0;
    margin: 0 30px;
}

.p-left10{
    padding-left: 260px;
}

.item1-config{
    width: 450px;
    height: 300px;
    margin-top: -25px;
}

.item2-config{
    width: 450px;
    height: 300px;
    margin-top: -25px;
    margin-left: -250px ;
}

.itm4-config{
    margin-left: -35px;
}

.star-container{
    display: flex;
    justify-content: center;
    padding: 24px;
}

ul{
    list-style: none;
}

li{
    margin-bottom: 20px;
}

.foot-m-conf{
    margin-top: 80px;
    margin-bottom: 20px;
}

.foot-contentbox{
    width: 100%;
    margin-top: 20px;
}

.flag{
    width: 30px;
    height: 15px;
}

.inline{
    display: flex;
    flex-wrap: wrap;
    margin-right: 10px;
}

.mr-10{
    margin-right: 10px;
}

/*LAYOUT STYLES*/

.container-sm{
    width:800px;
    margin:0 auto;
}

.container{
    width: 1000px;
    margin:0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.row-special{
    padding: 10px 0 10px 0;
    background-color: rgb(94, 255, 255);
}

.col-25{
    width: 25%;
}

.col-50{
    width: 50%;
}

.col-75{
    width: 75%;
}

.col-100{
    width: 100%;
}


.content{
    padding: 5px;
}

.row-foot{
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
}

.col-sm{
    width: calc(100% / 6);
}

.col-smx2{
    width: calc(100% / 6 *2);
}

.pfoot{
    padding:10px 30px 45px 30px;
}

.content-foot{
    background-color: pink;
    border: 1px dashed black;
    padding: 5px 0;
}

.col{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


/*STYLING*/

.bg-azure{
    background-color: #255EE9;
    padding: 10px;
}

.bg-blu{
    background-color: blue;
    padding: 10px;
}

.bg-grey{
    background-color: #F6F6F6;
}

.dark-bg{
    background-color: #23272A;
}

.font-white{
    color: white;
}

button{
    padding: 10px;
    border-radius: 20px;
    border: none
}

.bg-jumbo{
    background-image: url(../img/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-dark{
    background-color: #23272A;
}

.blue-btn{
    background-color: #7289DA;
    font-size: 12pt;
}

.bgstar{
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-size:cover;
}

.blu-txt{
    color:#7289DA;
}

.green-flag{
    height: 100%;
    width: calc(100% / 3);
    background-color: green;
}

.white-flag{
    height: 100%;
    width: calc(100% / 3);
    background-color: white;
}

.red-flag{
    height: 100%;
    width: calc(100% / 3);
    background-color: red;
}
